<div class="outside">
<div class="container card-body">
  <div class="image-logo">
 <%= image_tag "creditsuisselogo.jpg", alt: "Credit Suisse", :class => "style_image", width: 400 %>
</div>
<h2 class="text-one font-title">Welcome to Credit Suisse</h2>
<p class="text-one">Get the most from our service:</p>
</div>
<div class="card-category container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.itpro.co.uk/image/upload/t_primary-image-desktop@2/v1570816702/itpro/2018/07/business_app_shutterstock_248776741.jpg)">
  <div>
  <h1 class="title-two">Download the Credit Suisse App</h1>
  <p>Accounts, cards and more - all in one app</p>
  <a href="#" class="btn-blue padding-button">Download the app ></a>
</div>
</div>
</div>

